#message {
    align-items: center;
    background-color: #000000cf;
    color: white;
    display: none;
    font-size: 3rem;
    height: 100vh;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
}
#message > div {
    display: grid;
    grid-template-rows: 1fr;
    
}
#message > div > div {
    text-align: center;
    margin-bottom: 10px;
}
#message .reset-btn {
    background-color: white;
}