body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
body > div {
    display: grid;
    height: 80vh;
    grid-template-rows: 70% 15% 15% ;
}
.reset-btn {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    width: 40px;
}